* {
  margin: 0;
  padding: 0;
}

body {
  background: #F8F5D0;
  text-align: center;
}

#tai {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

#big {
  border: 6px solid  #ffffff;
  position: absolute;
  width: 900px;
  height: 600px;
  left: 50%;
  top: 50%;
  margin-left: -450px;
  margin-top: -310px;
  display: none;
  background: #ffffff;
  position: fixed;
}

#close {
  width: 40px;
  height: 35px;
  position: absolute;
  right: 0;
  top: 0;
  background: #ffffff;
}

header {
  background: #2B1C0A;
  height: 75px;
}

#name {
  float: left;
  margin-left: 64px;
  margin-top: 16px;
  height: 50px;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

span {
  font-size: 16px;
  margin-left: 15px;
}

nav {
  float: left;
  margin-top: 36px;
  margin-left: 200px;
  color: #ffffff;
  font-size: 14px;
  width: 600px;
  height: 30px;
}

#menu {
  background: #2B1C0A;
  font-size: 14px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
}

ul a { color: #ffffff; }

#clear {
  border: 0;
  clear: both;
}

ul {
  float: left;
  list-style-type: none;
}

ul li {
  float: left;
  margin-left: 20px;
}

#fan { margin-left: 40px; }

#div1,#div2,#div3 {
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#span2 { margin-left: 40px; }

#divUs {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 18px;
  line-height: 35px;
}

footer {
  background: #2B1C0A;
  height: 44px;
  color: #ffffff;
  line-height: 44px;
}

#foot {
  margin-left: auto;
  margin-right: auto;
  background: #2B1C0A;
  height: 44px;
}









