<!DOCTYPE html>
<html>
     <head>
          <title>台安安程汽车租赁</title>
          <meta charset="utf-8"/>
          <meta name="Keywords" content="台安安程汽车租赁"/>
          <meta name="Description" content="台安安程汽车租赁"/>
          <script src="{{STATIC_URL}}js/jquery-2.0.3.min.js"></script>
          <script src="{{STATIC_URL}}js/fei.js"></script>
          <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/fei.css"/>
          {% block js %}{% endblock %}
          {% block css %}{% endblock %}
     </head>
     <body>
          <header>
                 <div id="name">安程汽车租赁</div>
                 <nav>
                     <ul>
                        <a href="/anchengPro/"><li>租赁车型</li></a>
                        <a href="/anchengVi/"><li>视频</li></a>
                        <a href="/anchengNews/"><li>活动新闻</li></a>
                        <a href="/anchengUs/"><li>关于我们</li></a>
                        <a href="/mode/"><li id="fan">返回</li></a>   
                     </ul>
                 </nav>
          </header>

          <section>
                  {% block content %}{% endblock %}
                  <div id="clear"></div>
          </section>

          <footer>
                 <span id="span1"><a href="/anchengLocation/">地址：德宝大饭店对面</a></span><span id="span2">电话：13591591222</span>
          </footer>

     </body>
</html>

