{% extends "dianBase.html" %}

{% block content %}
   <div id="divUs">
        <h3>400电话介绍</h3><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;“400电话”,又称主被叫分摊付费电话，是一项为被叫客户提供一个全国范围内的唯一号码，并把对该号码的呼叫接至被叫客户事先设定好的电话号码上的全国性智能网业务。该业务的通话费由主、被叫分摊付费，对需要用400电话做呼叫中心客户，需要申请一个“400-6XX-XXX”作为其在 全国的统一接入号码；在全国任何范围内，主叫用户只需拨打该“400-6XX-XXX ”号码，无须加拨区号，便可按照企业用户预先设定的方案，将呼叫直接接转到 企业所指定的电话号码上。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;联通4006,移动4007,电信4008企业热线是全国唯一号码，可广泛应用于业务热线、客服热线、技术支持热线等统一服务平台；400企业热线可绑定在现有的普通电话上，号码资源丰富，全国可快速开通，其统一号码为400-6XX-XXX。<br/>

&nbsp;&nbsp;&nbsp;&nbsp;400电话，是主被叫分摊付费电话，是800免费 电话的升级版，比800电话进步了，具有四大优点：<br/>

&nbsp;&nbsp;&nbsp;&nbsp;1、手机能拨打，扩展6.7亿手机用户，扩大全国范围应用；<br/>

&nbsp;&nbsp;&nbsp;&nbsp;2、话费比800免费电话节约百分之五十;<br/>

&nbsp;&nbsp;&nbsp;&nbsp;3、减少无效呼叫和短话长说，防止骚扰，提高办公效率；<br/>

&nbsp;&nbsp;&nbsp;&nbsp;4、组网迅速,可按区域转接,全国仅用一个号码。
   </div>
{% endblock %}
