{% extends "faBase.html" %}

{% block content %}
   
   <script>
     var s=$(window).width()/1353;
     $('section').css('width',$(window).width());
     $('#divUs').css('width',800*s);
   </script>

   <div id="divUs">
     <br/><br/>
     <h3>法狮龙简介</h3><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;海盐法狮龙建材科技有限公司座落于杭州湾跨海大桥北出口，中国核电之城，世界紧固件之乡——浙江海盐，是一家专业从事集成吊顶产品及其配套设施的研发、制造、销售的建材产品供应商，是最早进入集成吊顶行业的企业之一，是集成吊顶行业最大的生产基地之一，拥有集成吊顶行业生产、销售、服务最成功的经验，以“做中国最好的吊顶制造商”为不懈努力目标的法狮龙，并在全国形成了上千家的品牌专卖店，以和谐为理念的法狮龙，志在成为和谐家居吊顶整体解决方案供应商。由于在产品生产能力、品质及售后服务上的表现，2010年法狮龙被天津市政府公屋工程选为集成吊顶指定品牌,2011年被阳光100置业集团选为铝合金天花扣板集中采购平台定点品牌、长春万科精装修房指定集成吊顶供应商、吊顶行业住房和城乡建设部保障性住房优秀材料供应商。<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本着“诚信为本，追求卓越”的经营理念，迄今为止，法狮龙推出的集成吊顶产品已经获得100多项国家相关专利，并获得全国工商联厨卫吊顶十大品牌/理事单位，中国家具业协会理事单位，嘉兴市专利示范企业，品牌中国集成吊顶行业领袖品牌唯一入选品牌，全国工商联诚信体系建设“十强示范企业”等荣誉，行业中最早获得品牌中国金谱奖，得到了社会各界的广泛认可。使法狮龙品牌更加深入人心；并顺利通过了ISO9001质量体系认证、绿色环保产品认证、国家强制性电器3C认证、权威机构出具的模块检测报告。由于在集成吊顶行业的突出贡献，在2009年我公司成为集成吊顶行业标准起草单位委员，2011年12月成立的集成吊顶行业协会上，被评为中国集成吊顶行业协会副会长单位、集成吊顶行业十大领军品牌，为国内市场的领先地位奠定了良好的基础。
   </div>
   <br/><br/>
{% endblock %}
