<!DOCTYPE html>
<html>
     <head>
          <title>台安安程汽车租赁</title>
          <meta charset="utf-8"/>
          <meta name="Keywords" content="台安安程汽车租赁"/>
          <meta name="Description" content="台安安程汽车租赁"/>
          <script src="{{ site.url }}/js/jquery-2.0.3.min.js"></script>
          <script src="{{ site.url }}/js/fei.js"></script>
          <link rel="stylesheet" href="{{ site.url }}/css/fei.css"/>
     </head>
     <body>
          <header>
                 <div id="name">安程汽车租赁</div>
                 <nav>
                     <ul>
                        <a href="{{ site.url }}/acPro"><li>租赁车型</li></a>
                        <a href="{{ site.url }}/acVi"><li>视频</li></a>
                        <a href="{{ site.url }}/acNews"><li>活动新闻</li></a>
                        <a href="{{ site.url }}/acUs"><li>关于我们</li></a>   
                     </ul>
                 </nav>
          </header>

          <section>
                  {{ content }}
                  <div id="clear"></div>
          </section>
          <footer>
                 <span id="span1">地址：德宝大饭店对面</span>
                 <span id="span2">电话：13591591222</span>
          </footer>

     </body>
</html>

