<!DOCTYPE html>
<html>
   <head>
      <title>爱家家俱城</title>
      <meta charset="utf-8"/>
      <meta name="Keywords" content="台安爱家家俱城"/>
      <meta name="Description" content="台安爱家家俱城"/>
      <script src="{{ site.url }}/js/jquery-2.0.3.min.js"></script>
      <script src="{{ site.url }}/js/fei.js"></script>
      <link rel="stylesheet" href="{{ site.url }}/css/aijia.css"/>
   </head>
   <body>
      <header>
         <div id="menu">
            <div id="name">爱家家俱城</div>
            <nav>
               <ul>
                  <li>
                    <a href="{{ site.url }}/aj/ou">欧式系列</a>
                  </li>
                  <li>
                    <a href="{{ site.url }}/aj/sha">沙发系列</a>
                  </li>
                  <li>
                    <a href="{{ site.url }}/aj/shi">实木系列</a>
                  </li>
                  <li>
                    <a href="{{ site.url }}/aj/banshi">板式系列</a>
                  </li>
                  <li>
                    <a href="{{ site.url }}/aj/bangong">办公系列</a>
                  </li>
                  <li>
                    <a href="{{ site.url }}/aj/vi">视频</a>
                  </li>
                  <li>
                    <a href="{{ site.url }}/aj/news">活动新闻</a>
                  </li>
               </ul>
            </nav>
         </div>
      </header>

      <section>
         {{ content }}
         <div id="clear"></div>
      </section>

      <footer>
         <div id="foot">
            <span id="span1">Copyright © 2014-2015 爱家家俱城</span>
            <span id="span2">
              <a href="{{ site.url }}/aijiaLocation">地址：爱家建材商场北二楼爱家家俱城</a>&nbsp;&nbsp;电话：0412-4801988
            </span>
            <span>
              <a href="{{ site.url }}/mode">返回</a>
            </span>   
         </div>
      </footer>

   </body>
</html>
