<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8"/>
    <meta name="Keywords" content="台安迪瑞科耐磨件硬化有限公司"/>
    <meta name="Description" content="台安迪瑞科耐磨件硬化有限公司"/>
    <title>台安迪瑞科耐磨件硬化有限公司</title>
    <link rel="stylesheet" href="{{ site.url }}/css/drkBase.css"/>
    <link rel="stylesheet" href="{{ site.url }}/css/page.css"/>
    <script src="{{ site.url }}/js/jquery-2.0.3.min.js"></script>
  </head>
  <body>
    <header>
      <div class="title">
        <p class="title1">台安迪瑞科耐磨件硬化有限公司</p>
        <p class="title2">Duraco Wear Parts Hardening Co., Ltd.</p>
      </div>      
      <nav>          
        <ul>
          <li class="shou">
            <a href="{{ site.url }}/drkIndex">首页</a>
          </li>
          <li class="te">
            <a href="{{ site.url }}/drkBasic1">公司概况</a>
          </li>
          <li class="te">
            <a href="{{ site.url }}/drkNews1">新闻中心</a>
          </li>
　　  <li class="te">
            <a href="{{ site.url }}/drkPro1">产品中心</a>
          </li>
　　  <li class="te">
            <a href="{{ site.url }}/drkCulture">企业文化</a>
          </li>
          <li class="te">
            <a href="{{ site.url }}/drkDevelop">科学发展</a>
          </li>
          <li class="te">
            <a href="{{ site.url }}/drkHR1">人力资源</a>
          </li>                                  
          <li class="te">
            <a href="">联系我们</a>
          </li>
        </ul> 
      </nav>      
    </header>    
      {{ content }}
      <script>
        $(function(){
          var w=$(window).width();
          $('.image').css('width',w);
        });
      </script>
    <footer>
      <div id="foot">
        <div class="aa">Copyright © 2014-2015 台安迪瑞科耐磨件硬化有限公司</div>
        <div class="bei"></div>       
      </div>
    </footer>   
  </body>
</html>
