<!DOCTYPE html>
<html>
  <head>
    <title>金乌炭雕</title>
    <meta charset="utf-8"/>
    <meta name="Keywords" content="台安金乌炭雕"/>
    <meta name="Description" content="台安金乌炭雕"/>
    <script src="{{ site.url }}/js/jquery-2.0.3.min.js"></script>
    <script src="{{ site.url }}/js/jin.js"></script>
    <link rel="stylesheet" href="{{ site.url }}/css/jin.css"/>
 </head>
  <body>
    <header>
      <div id="name">金乌炭雕</div>
      <nav>
        <ul>
          <li>
            <a href="{{ site.url }}/jinPro">产品系列</a>
          </li>
          <li>
            <a href="{{ site.url }}/jinVi">视频</a>
          </li>
          <li>
            <a href="{{ site.url }}/jinNews">活动新闻</a>
          </li>
          <li>
            <a href="{{ site.url }}/jinUs">关于我们</a>
          </li>
        </ul>
      </nav>
    </header>

    <section>
      {{ content }}
      <div id="clear"></div>
    </section>

    <footer>
      <span id="span1">地址：少年宫西走100米烟草公司对面</span>
      <span id="span2">电话：15040781451</span>
    </footer>

  </body>
</html>
