<!DOCTYPE html>
<html>
     <head>
          <title>可立亚炭火烤肉</title>
          <meta charset="utf-8"/>
          <script src="{{ site.url }}/js/jquery-2.0.3.min.js"></script>
          <script src="{{ site.url }}/js/ke.js"></script>
          <link rel="stylesheet" href="{{ site.url }}/css/ke.css"/>
     </head>
     <body>
          <header>
                 <div id="name">可立亚炭火烤肉</div>
                 <nav>
                     <ul>
                        <a href="{{ site.url }}/ke/food"><li>特色菜肴</li></a>
                        <a href="{{ site.url }}/ke/envi"><li>店内展示</li></a>
                        <a href="{{ site.url }}/ke/news"><li>活动新闻</li></a>
                        <a href="{{ site.url }}/ke/us"><li>关于我们</li></a>   
                     </ul>
                 </nav>
         </header>
 
         <section>
           {{ content }}
           <div id="clear"></div>
         </section>
         <footer>
           <span id="span1">
             <a href="{{ site.url }}/ke/location">地址：交警队道北</a>
           </span>
           <span id="span2">电话：4999699</span>
         </footer>
     </body>
</html>
