<!DOCTYPE html>
<html>
  <head>
    <title>圣士烘焙</title>
    <meta charset="utf-8"/>
    <meta name="Keywords" content="台安圣士烘焙"/>
    <meta name="Description" content="台安圣士烘焙"/>
    <script src="{{ site.url }}/js/jquery-2.0.3.min.js"></script>
    <script src="{{ site.url }}/js/sheng.js"></script>
    <link rel="stylesheet" href="{{ site.url }}/css/sheng.css"/>
  </head>
  <body>
    <header>
      <div id="menu">
        <div id="name">圣士烘焙</div>
        <nav>
          <ul>
            <a href="{{ site.url }}/shengDan"><li>蛋糕系列</li></a>
            <a href="{{ site.url }}/shengMian"><li>面包系列</li></a>
            <a href="{{ site.url }}/shengShui"><li>西点系列</li></a>
            <a href="{{ site.url }}/shengDian"><li>店内实景</li></a>
            <a href="{{ site.url }}/shengVi"><li>视频</li></a>
            <a href="{{ site.url }}/shengNews"><li>活动新闻</li></a>
            <a href="{{ site.url }}/shengUs"><li>关于我们</li></a>        
          </ul>
        </nav>
      </div>
    </header>

    <section>
      {{ content }}
      <div id="clear"></div>
    </section>
    <footer>
      <div id="foot">
        <span id="span1">Copyright © 2014-2015 圣士烘焙</span>
        <span id="span2">地址：龙泽园正门对面&nbsp;&nbsp;电话：4812788</span>
        <span>
          <a href="{{ site.url }}/mode">返回</a>
        </span>
      </div>
    </footer>
  </body>
</html>




