<!DOCTYPE html>
<html>
  <head>
    <title>圣士烘焙</title>
    <meta charset="utf-8"/>
    <meta name="Keywords" content="圣士烘焙"/>
    <meta name="Description" content="圣士烘焙"/>
    <script src="{{ site.url }}/js/jquery-2.0.3.min.js"></script>
    <script src="{{ site.url }}/js/sheng.js"></script>
    <link rel="stylesheet" href="{{ site.url }}/css/sheng.css"/>
  </head>
  <body>
    <header>
      <div id="menu">
        <div id="name">圣士烘焙</div>
        <nav>
          <ul>
            <li><a href="{{ site.url }}/ss/dan">蛋糕系列</a></li>
            <li><a href="{{ site.url }}/ss/mian">面包系列</a></li>
            <li><a href="{{ site.url }}/ss/shui">西点系列</a></li>
            <li><a href="{{ site.url }}/ss/dian">店内实景</a></li>
            <li><a href="{{ site.url }}/ss/vi">视频</a></li>
            <li><a href="{{ site.url }}/ss/news">活动新闻</a></li>
            <li><a href="{{ site.url }}/ss/us">关于我们</a></li>  
          </ul>
        </nav>
      </div>
    </header>

    <section>
      {{ content }}
      <div id="clear"></div>
    </section>
    <footer>
      <div id="foot">
        <span id="span1">Copyright © 2014-2015 圣士烘焙</span>
        <span id="span2">地址：龙泽园正门对面&nbsp;&nbsp;电话：4812788</span>
        <span>
          <a href="{{ site.url }}/mode">返回</a>
        </span>
      </div>
    </footer>
  </body>
</html>




